body {
	display: flex;
	flex-direction: column;
}

input {
	outline: none;
}

.inSearch {
	flex: 1;
	margin: 0 30px;
	padding-left: 10px;
	height: 28px;
	border: 0;
	border-radius: 20px;
	background-color: #F8F8F9;
}

header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #F8F8F9;
}

header i {
	padding-left: 10px;
	width: 30px;
	font-size: 40px;
}

header div:last-child {
	width: 80px;
}

article {
	background-color: #FFFFFF;
}

footer {
	border-radius: 0;
}

.search1 {
	/* position: absolute;
				top: 50px;
				left: 0px; */
	width: 100%;
	font-size: 25px;
	background-color: #FFFFFF;
}

.search1 ul li {

	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #666666;
}

i {
	padding: 0 20px;
}
